<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/login.js" type="text/javascript" charset="utf-8"></script>		
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
		
	</head>

<body>
	<div class="biaodan">
		<p>账号<input type="text" name="username" id="username" placeholder="请输入手机号" /></p>						
		<p>密码<input type="password" name="password" id="psw" placeholder="请输入密码" /></p>
		<p><input type="button" id="btn" value="登陆" /></p>
		<div class="forget">
			<a href="">忘记密码</a>
			<a class="ts" href="/regist">立即注册</a>
		</div>
	</div>
</body>
</html>
