<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/regist.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/regist.css"/>
	</head>
	<body>
		<div id="kuang">
			<ul class="biaotou">
				<li>手机注册</li>
				<li>直接登陆</li>
			</ul>
			<span>手机号码:<input type="text" name="username"  id="txt" placeholder="请输入手机号" /><span id="tip1"></span></span>			
			<span>设置密码:<input type="password" name="password" id="pass" /><span id="tip2"></span></span>			
			<span id="box">兴趣标签:
			<div id="fuxuan">
				<span><input type="checkbox"  id="check" value="新闻" />新闻</span>
				<span><input type="checkbox"  id="check" value="文化" />文化</span>
				<span><input type="checkbox"  id="check" value="体育" />体育</span>
				<span><input type="checkbox"  id="check" value="娱乐" />娱乐</span>
				<span><input type="checkbox"  id="check" value="IT" />IT</span>
				<span><input type="checkbox"  id="check" value="财经" />财经</span>
				<span><input type="checkbox"  id="check" value="时尚" />时尚</span>
				<span><input type="checkbox"  id="check" value="汽车" />汽车</span>
				<span><input type="checkbox"  id="check" value="房产" />房产</span>
				<span><input type="checkbox"  id="check" value="生活" />生活</span>
			</div>
			</span>
			<input type="button" id="btn" value="注册" />
		</div>
	</body>
</html>
